@page
@model GoodsExchange.RazorWebApp.Pages.OfferDetailPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OfferDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OfferDetail.OfferDetailId" />
            <div class="form-group">
                <label asp-for="OfferDetail.TraderItem" class="control-label"></label>
                <input asp-for="OfferDetail.TraderItem" class="form-control" />
                <span asp-validation-for="OfferDetail.TraderItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferDetail.OfferId" class="control-label"></label>
                <select asp-for="OfferDetail.OfferId" class="form-control" asp-items="ViewBag.OfferId"></select>
                <span asp-validation-for="OfferDetail.OfferId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferDetail.Note" class="control-label"></label>
                <input asp-for="OfferDetail.Note" class="form-control" />
                <span asp-validation-for="OfferDetail.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfferDetail.PostId" class="control-label"></label>
                <select asp-for="OfferDetail.PostId" class="form-control" asp-items="ViewBag.PostId"></select>
                <span asp-validation-for="OfferDetail.PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
